[Unit]
Description=CallBot
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/danya/dev/telegram_call_all_bot
ExecStart=/usr/bin/python3 /home/danya/dev/telegram_call_all_bot/bot.py
RestartSec=10
Restart=always
 
[Install]
WantedBy=multi-user.target
