[Unit]
Description=CallBotUpdate
After=syslog.target
After=network.target
After=callbot.service

[Service]
Type=simple
User=root
WorkingDirectory=/home/avdosev/dev/telegram_call_all_bot
ExecStart=sudo bash /home/avdosev/dev/telegram_call_all_bot/updater.sh
RestartSec=5m
Restart=always

[Install]
WantedBy=multi-user.target
